#cloud-config

users:
- name: deepvoice3
  uid: 2000

write_files:
- path: /etc/systemd/system/deepvoice3.service
  permissions: 0644
  owner: root
  content: |
    [Unit]
    Description=Start a docker container

    [Service]
    ExecStart=/usr/bin/docker run --rm -u 2000 --name=deepvoice3 busybox:latest /bin/sleep 3600
    ExecStop=/usr/bin/docker stop deepvoice3
    ExecStopPost=/usr/bin/docker rm deepvoice3

runcmd:
- systemctl daemon-reload
- systemctl start deepvoice3.service
